.dashboard-container{
    position: relative;

}

.dashBoardMenu{
    margin: 50px 80px;
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.dashBoardMenu p{
    
    cursor: pointer;
    flex-grow: 1;
    text-align: center;
    padding: 20px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    line-height: 33px;
}
.Select {
    color: var(--main-backgroundColor);
    background-color: var(--primary-color) !important; 
}
.notSelect{
    color: var(--textcolor-primary);

}

@media only screen and (max-width: 850px) {
    .dashboard-container{
        position: relative;
        display: flex;
       
    }
    
    .dashBoardMenu{
        display: inline-block;
        
    }
  }