.btn{
    cursor: pointer;
    width: 100%;
    min-width:max-content;
    padding: 8px 20px;
    margin: 10px;

    font-size: 14px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0.7px;
}


.fillPrimary{
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    color: var(--main-backgroundColor);
    transition: 0.2s ease-in-out;

}
.fillPrimary:hover{
    border: 2px solid var(--button-hover);
    /* color:var(--primary-color); */
    background-color: var(--button-hover);
    /* background: none; */
    transition: 0.2s ease-in-out;
}

.outlinePrimary{
    background: none;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    color: var(--primary-color);
    transition: 0.2s ease-in-out;

}
.outlinePrimary:hover{
    background-color: var(--primary-color);
    color:var(--main-backgroundColor);
    transition: 0.2s ease-in-out;

}
/* .fullWidth{
    width: 100%;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    color: var(--main-backgroundColor);
} */


