.landingPage-container{
    position: relative;
}

.loginForm-ContainerHide{
    width: 100vw;
    /* display: flex; */
    position:fixed;
    z-index: 20;
    top: -1500px;
    left: 22%; 
}
.loginForm-ContainerVisible{
    top: 110px;
    left: 22%; 
    transition: 0.4s ease-out;
}
.GetStartForm-ContainerHide{
    width: 100vw;
    /* display: flex; */
    position:fixed;
    z-index: 20;
    top: -900px;
    left: 22%; 
}
.GetStartForm-ContainerVisible{
    top: 110px;
    left: 22%; 
    transition: 0.4s ease-out;
}