.landingPage-container{
    position: relative;
}

.loginForm-ContainerHide{
    width: 100vw;
    /* display: flex; */
    position:fixed;
    z-index: 20;
    top: -1500px;
    /* left: 22%;  */
}
.loginForm-ContainerVisible{
    top: 0px;
    transition: 0.4s ease-out;
}
.GetStartForm-ContainerHide{
    width: 100vw;
    /* display: flex; */
    position:fixed;
    z-index: 20;
    top: -2000px;
    /* left: 22%;  */
}
.GetStartForm-ContainerVisible{
    z-index: 200;
    top: 0px;
    /* left: 22%;  */
    transition: 0.45s ease-out;
}